<a href="https://colab.research.google.com/github/DIExCRY-EDU/test/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import sklearn as sk
from google.colab import files
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectKBest,chi2,RFE

In [2]:
files.upload()
dirt_dataset = pd.read_csv('answer.csv')

Saving answer.csv to answer.csv

In [3]:
dirt_dataset.head()

       Отметка времени             UserId  q1  q2  q3  ...  q6  q7  q8  q9  q10
0  15.03.2021 22:42:15            Георгий   7   8  10  ...   7   5  10   8   10
1  15.03.2021 22:42:44                Юля   7   8   6  ...   8   4   3   6    7
2  15.03.2021 22:43:39  Полина Кузнецова    5   4   6  ...   6   6   8   9   10
3   18.03.2021 2:38:18    1k pts フtiltedフ   3   3   6  ...   8   3   1   3    9
4  18.03.2021 12:08:18             Таня В   2   2  10  ...   9   3   1   5   10

[5 rows x 12 columns]

In [4]:
del dirt_dataset['Отметка времени']
dirt_dataset.head()

              UserId  q1  q2  q3  q4  q5  q6  q7  q8  q9  q10
0            Георгий   7   8  10   8   8   7   5  10   8   10
1                Юля   7   8   6   8   7   8   4   3   6    7
2  Полина Кузнецова    5   4   6   8   2   6   6   8   9   10
3    1k pts フtiltedフ   3   3   6   7   2   8   3   1   3    9
4             Таня В   2   2  10   8   5   9   3   1   5   10

In [5]:
dirt_dataset.UserId = dirt_dataset.index + 1
dirt_dataset.head()

   UserId  q1  q2  q3  q4  q5  q6  q7  q8  q9  q10
0       1   7   8  10   8   8   7   5  10   8   10
1       2   7   8   6   8   7   8   4   3   6    7
2       3   5   4   6   8   2   6   6   8   9   10
3       4   3   3   6   7   2   8   3   1   3    9
4       5   2   2  10   8   5   9   3   1   5   10

In [6]:
dirt_dataset.shape

(204, 11)

In [7]:
dirt_dataset.describe()

           UserId         q1          q2  ...          q8          q9         q10
count  204.000000  204.00000  204.000000  ...  204.000000  204.000000  204.000000
mean   102.500000    6.02451    5.980392  ...    5.156863    6.769608    7.269608
std     59.033889    2.22489    1.939887  ...    2.456499    1.747865    2.210779
min      1.000000    1.00000    1.000000  ...    1.000000    1.000000    1.000000
25%     51.750000    5.00000    5.000000  ...    3.000000    6.000000    6.000000
50%    102.500000    6.00000    6.000000  ...    5.000000    7.000000    7.000000
75%    153.250000    8.00000    7.000000  ...    7.000000    8.000000    9.000000
max    204.000000   10.00000   10.000000  ...   10.000000   10.000000   10.000000

[8 rows x 11 columns]

In [8]:
dirt_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UserId  204 non-null    int64
 1   q1      204 non-null    int64
 2   q2      204 non-null    int64
 3   q3      204 non-null    int64
 4   q4      204 non-null    int64
 5   q5      204 non-null    int64
 6   q6      204 non-null    int64
 7   q7      204 non-null    int64
 8   q8      204 non-null    int64
 9   q9      204 non-null    int64
 10  q10     204 non-null    int64
dtypes: int64(11)
memory usage: 17.7 KB

In [9]:
dirt_dataset.isnull().sum()

UserId    0
q1        0
q2        0
q3        0
q4        0
q5        0
q6        0
q7        0
q8        0
q9        0
q10       0
dtype: int64

In [10]:
scaler = MinMaxScaler()
norm_data = scaler.fit_transform(dirt_dataset[['q1','q2','q3','q4','q5','q6','q6','q7','q8','q9','q10']])

In [11]:
norm_df = pd.DataFrame(norm_data, columns=dirt_dataset.columns)
norm_df['UserId'] = dirt_dataset['UserId']
norm_df.head()

   UserId        q1        q2        q3  ...        q7        q8        q9       q10
0       1  0.777778  1.000000  0.777778  ...  0.444444  1.000000  0.777778  1.000000
1       2  0.777778  0.555556  0.777778  ...  0.333333  0.222222  0.555556  0.666667
2       3  0.333333  0.555556  0.777778  ...  0.555556  0.777778  0.888889  1.000000
3       4  0.222222  0.555556  0.666667  ...  0.222222  0.000000  0.222222  0.888889
4       5  0.111111  1.000000  0.777778  ...  0.222222  0.000000  0.444444  1.000000

[5 rows x 11 columns]

In [12]:
norm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UserId  204 non-null    int64
 1   q1      204 non-null    float64
 2   q2      204 non-null    float64
 3   q3      204 non-null    float64
 4   q4      204 non-null    float64
 5   q5      204 non-null    float64
 6   q6      204 non-null    float64
 7   q7      204 non-null    float64
 8   q8      204 non-null    float64
 9   q9      204 non-null    float64
 10  q10     204 non-null    float64
dtypes: float64(10), int64(1)
memory usage: 17.7 KB

In [13]:
new_norm_df = norm_df.drop_duplicates()
new_norm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 0 to 203
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UserId  204 non-null    int64
 1   q1      204 non-null    float64
 2   q2      204 non-null    float64
 3   q3      204 non-null    float64
 4   q4      204 non-null    float64
 5   q5      204 non-null    float64
 6   q6      204 non-null    float64
 7   q7      204 non-null    float64
 8   q8      204 non-null    float64
 9   q9      204 non-null    float64
 10  q10     204 non-null    float64
dtypes: float64(10), int64(1)
memory usage: 19.1 KB

In [14]:
def add_conj(new_norm_df, f1, f2, f3):
  new_norm_df['k12'] = (new_norm_df[f1].astype(float) + new_norm_df[f2].astype(float) + new_norm_df[f3].astype(float)) / 3
  return new_norm_df.head()

In [15]:
add_conj(new_norm_df, 'q3', 'q2', 'q8')

   UserId        q1        q2        q3  ...        q8        q9       q10       k12
0       1  0.777778  1.000000  0.777778  ...  1.000000  0.777778  1.000000  0.925926
1       2  0.777778  0.555556  0.777778  ...  0.222222  0.555556  0.666667  0.518519
2       3  0.333333  0.555556  0.777778  ...  0.777778  0.888889  1.000000  0.703704
3       4  0.222222  0.555556  0.666667  ...  0.000000  0.222222  0.888889  0.407407
4       5  0.111111  1.000000  0.777778  ...  0.000000  0.444444  1.000000  0.592593

[5 rows x 12 columns]

In [17]:
def add_conj_2(new_norm_df, f1, f2, f3):
  new_norm_df['k13'] = (new_norm_df[f1].astype(float) + new_norm_df[f2].astype(float) + new_norm_df[f3].astype(float)) / 3
  return new_norm_df.head()

In [18]:
add_conj_2(new_norm_df, 'q1', 'q5', 'q10')

   UserId        q1        q2        q3  ...        q9       q10       k12       k13
0       1  0.777778  1.000000  0.777778  ...  0.777778  1.000000  0.925926  0.814815
1       2  0.777778  0.555556  0.777778  ...  0.555556  0.666667  0.518519  0.740741
2       3  0.333333  0.555556  0.777778  ...  0.888889  1.000000  0.703704  0.629630
3       4  0.222222  0.555556  0.666667  ...  0.222222  0.888889  0.407407  0.629630
4       5  0.111111  1.000000  0.777778  ...  0.444444  1.000000  0.592593  0.666667

[5 rows x 13 columns]

In [19]:
new_norm_df.drop(['UserId'], axis=1)
new_norm_df['y(x)'] = np.mean(new_norm_df, axis=1)

In [20]:
cols = new_norm_df.columns
a = new_norm_df.pop('UserId')
new_norm_df = new_norm_df.join(a).reindex(columns=cols)
new_norm_df.head()

   UserId        q1        q2        q3  ...       q10       k12       k13      y(x)
0       1  0.777778  1.000000  0.777778  ...  1.000000  0.925926  0.814815  0.817664
1       2  0.777778  0.555556  0.777778  ...  0.666667  0.518519  0.740741  0.720798
2       3  0.333333  0.555556  0.777778  ...  1.000000  0.703704  0.629630  0.803419
3       4  0.222222  0.555556  0.666667  ...  0.888889  0.407407  0.629630  0.729345
4       5  0.111111  1.000000  0.777778  ...  1.000000  0.592593  0.666667  0.925926

[5 rows x 14 columns]

In [21]:
new_norm_df

     UserId        q1        q2  ...       k12       k13       y(x)
0         1  0.777778  1.000000  ...  0.925926  0.814815   0.817664
1         2  0.777778  0.555556  ...  0.518519  0.740741   0.720798
2         3  0.333333  0.555556  ...  0.703704  0.629630   0.803419
3         4  0.222222  0.555556  ...  0.407407  0.629630   0.729345
4         5  0.111111  1.000000  ...  0.592593  0.666667   0.925926
..      ...       ...       ...  ...       ...       ...        ...
199     200  0.666667  0.777778  ...  0.666667  0.555556  15.982906
200     201  0.444444  0.222222  ...  0.481481  0.666667  16.011396
201     202  0.888889  0.777778  ...  0.925926  0.925926  16.347578
202     203  0.666667  0.777778  ...  0.777778  0.629630  16.236467
203     204  0.222222  1.000000  ...  0.814815  0.444444  16.225071

[204 rows x 14 columns]

In [22]:
label = new_norm_df['y(x)'].astype('float64')
label

0       0.817664
1       0.720798
2       0.803419
3       0.729345
4       0.925926
         ...
199    15.982906
200    16.011396
201    16.347578
202    16.236467
203    16.225071
Name: y(x), Length: 204, dtype: float64

In [33]:
clf = RandomForestClassifier()
array = new_norm_df.values
X = array[:,0:8]
Y = array[:,8]
X_scale = sk.preprocessing.scale(X)
y_scale = sk.preprocessing.scale(Y)

In [34]:
model = ExtraTreesClassifier()
model.fit(X_scale, y_scale)
print(model.feature_importances_)

ValueError: ignored