<a href="https://colab.research.google.com/github/DIExCRY-EDU/test/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Лабораторная работа #1</h1>
<h2>Импорт библиотек</h2>

In [81]:
import numpy as np
import pandas as pd
import sklearn as sk
from google.colab import files
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectKBest,chi2,RFE
from sklearn import preprocessing
from sklearn import utils

<h2>Загрузка датасета</h2>

In [82]:
INDEX_COL = 0
answer = files.upload()

Saving answer.csv to answer (9).csv

In [83]:
dirt_dataset = pd.read_csv('answer (8).csv')
dirt_dataset.head()

   Unnamed:0      Отметка времени             UserId  q1  ...  q7  q8  q9  q10
0          1  15.03.2021 22:42:15            Георгий   7  ...   5  10   8   10
1          2  15.03.2021 22:42:44                Юля   7  ...   4   3   6    7
2          3  15.03.2021 22:43:39  Полина Кузнецова    5  ...   6   8   9   10
3          4   18.03.2021 2:38:18    1k pts フtiltedフ   3  ...   3   1   3    9
4          5  18.03.2021 12:08:18             Таня В   2  ...   3   1   5   10

[5 rows x 13 columns]

In [84]:
dirt_dataset = pd.read_csv('answer (8).csv', index_col=INDEX_COL)
dirt_dataset.head()

               Отметка времени             UserId  q1  q2  ...  q7  q8  q9  q10
Unnamed:0                                                  ...
1          15.03.2021 22:42:15            Георгий   7   8  ...   5  10   8   10
2          15.03.2021 22:42:44                Юля   7   8  ...   4   3   6    7
3          15.03.2021 22:43:39  Полина Кузнецова    5   4  ...   6   8   9   10
4           18.03.2021 2:38:18    1k pts フtiltedフ   3   3  ...   3   1   3    9
5          18.03.2021 12:08:18             Таня В   2   2  ...   3   1   5   10

[5 rows x 12 columns]

<h2>Убираем ненужную колонку времени</h2>

In [85]:
del dirt_dataset['Отметка времени']
del dirt_dataset['UserId']
dirt_dataset.head()

           q1  q2  q3  q4  q5  q6  q7  q8  q9  q10
Unnamed:0
1           7   8  10   8   8   7   5  10   8   10
2           7   8   6   8   7   8   4   3   6    7
3           5   4   6   8   2   6   6   8   9   10
4           3   3   6   7   2   8   3   1   3    9
5           2   2  10   8   5   9   3   1   5   10

In [86]:
dirt_dataset.shape

(207, 10)

<h2>Первичный зрительный анализ</h2>

In [87]:
dirt_dataset.describe()

               q1          q2          q3  ...          q8          q9         q10
count  207.000000  207.000000  207.000000  ...  207.000000  207.000000  207.000000
mean     6.038647    5.990338    6.565217  ...    5.169082    6.777778    7.280193
std      2.213913    1.933331    1.868063  ...    2.446597    1.737337    2.205189
min      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000
25%      5.000000    5.000000    5.500000  ...    3.000000    6.000000    6.000000
50%      6.000000    6.000000    7.000000  ...    5.000000    7.000000    7.000000
75%      8.000000    7.000000    8.000000  ...    7.000000    8.000000    9.000000
max     10.000000   10.000000   10.000000  ...   10.000000   10.000000   10.000000

[8 rows x 10 columns]

In [88]:
dirt_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 1 to 207
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q1      207 non-null    int64
 1   q2      207 non-null    int64
 2   q3      207 non-null    int64
 3   q4      207 non-null    int64
 4   q5      207 non-null    int64
 5   q6      207 non-null    int64
 6   q7      207 non-null    int64
 7   q8      207 non-null    int64
 8   q9      207 non-null    int64
 9   q10     207 non-null    int64
dtypes: int64(10)
memory usage: 17.8 KB

<h2>Проверка на Nan</h2>

In [89]:
dirt_dataset.isnull().sum()

q1     0
q2     0
q3     0
q4     0
q5     0
q6     0
q7     0
q8     0
q9     0
q10    0
dtype: int64

<h2>Линейная нормализация</h2>

In [90]:
scaler = MinMaxScaler()
norm_data = scaler.fit_transform(dirt_dataset[['q1','q2','q3','q4','q5','q6','q7','q8','q9','q10']])

In [91]:
norm_df = pd.DataFrame(norm_data, columns=dirt_dataset.columns, index=dirt_dataset.index)
norm_df.head()

                 q1        q2        q3  ...        q8        q9       q10
Unnamed:0                                ...
1          0.666667  0.777778  1.000000  ...  1.000000  0.777778  1.000000
2          0.666667  0.777778  0.555556  ...  0.222222  0.555556  0.666667
3          0.444444  0.333333  0.555556  ...  0.777778  0.888889  1.000000
4          0.222222  0.222222  0.555556  ...  0.000000  0.222222  0.888889
5          0.111111  0.111111  1.000000  ...  0.000000  0.444444  1.000000

[5 rows x 10 columns]

In [92]:
norm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 1 to 207
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q1      207 non-null    float64
 1   q2      207 non-null    float64
 2   q3      207 non-null    float64
 3   q4      207 non-null    float64
 4   q5      207 non-null    float64
 5   q6      207 non-null    float64
 6   q7      207 non-null    float64
 7   q8      207 non-null    float64
 8   q9      207 non-null    float64
 9   q10     207 non-null    float64
dtypes: float64(10)
memory usage: 17.8 KB

<h2>Избавляемся от дубликатов</h2>

In [93]:
new_norm_df = norm_df.drop_duplicates()
new_norm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 1 to 207
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q1      206 non-null    float64
 1   q2      206 non-null    float64
 2   q3      206 non-null    float64
 3   q4      206 non-null    float64
 4   q5      206 non-null    float64
 5   q6      206 non-null    float64
 6   q7      206 non-null    float64
 7   q8      206 non-null    float64
 8   q9      206 non-null    float64
 9   q10     206 non-null    float64
dtypes: float64(10)
memory usage: 17.7 KB

<h2>Добавляем информативные признаки</h2>

In [78]:
def add_conj(new_norm_df, f1, f2, f3):
  new_norm_df['k11'] = (new_norm_df[f1].astype(float) + new_norm_df[f2].astype(float) + new_norm_df[f3].astype(float)) / 3
  return new_norm_df.head()

In [94]:
add_conj(new_norm_df, 'q3', 'q2', 'q8')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 q1        q2        q3  ...        q9       q10       k11
Unnamed:0                                ...
1          0.666667  0.777778  1.000000  ...  0.777778  1.000000  0.925926
2          0.666667  0.777778  0.555556  ...  0.555556  0.666667  0.518519
3          0.444444  0.333333  0.555556  ...  0.888889  1.000000  0.555556
4          0.222222  0.222222  0.555556  ...  0.222222  0.888889  0.259259
5          0.111111  0.111111  1.000000  ...  0.444444  1.000000  0.370370

[5 rows x 11 columns]

In [95]:
def add_conj_2(new_norm_df, f1, f2, f3):
  new_norm_df['k13'] = (new_norm_df[f1].astype(float) + new_norm_df[f2].astype(float) + new_norm_df[f3].astype(float)) / 3
  return new_norm_df.head()

In [96]:
add_conj_2(new_norm_df, 'q1', 'q5', 'q10')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 q1        q2        q3  ...       q10       k11       k13
Unnamed:0                                ...
1          0.666667  0.777778  1.000000  ...  1.000000  0.925926  0.814815
2          0.666667  0.777778  0.555556  ...  0.666667  0.518519  0.666667
3          0.444444  0.333333  0.555556  ...  1.000000  0.555556  0.518519
4          0.222222  0.222222  0.555556  ...  0.888889  0.259259  0.407407
5          0.111111  0.111111  1.000000  ...  1.000000  0.370370  0.518519

[5 rows x 12 columns]

In [97]:
new_norm_df['y(x)'] = np.mean(new_norm_df, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
cols = new_norm_df.columns
a = new_norm_df.pop('UserId')
new_norm_df = new_norm_df.join(a).reindex(columns=cols)
new_norm_df.head()

KeyError: ignored

In [ ]:
new_norm_df

     UserId        q1        q2  ...       k12       k13       y(x)
0         1  0.777778  1.000000  ...  0.925926  0.814815   0.817664
1         2  0.777778  0.555556  ...  0.518519  0.740741   0.720798
2         3  0.333333  0.555556  ...  0.703704  0.629630   0.803419
3         4  0.222222  0.555556  ...  0.407407  0.629630   0.729345
4         5  0.111111  1.000000  ...  0.592593  0.666667   0.925926
..      ...       ...       ...  ...       ...       ...        ...
199     200  0.666667  0.777778  ...  0.666667  0.555556  15.982906
200     201  0.444444  0.222222  ...  0.481481  0.666667  16.011396
201     202  0.888889  0.777778  ...  0.925926  0.925926  16.347578
202     203  0.666667  0.777778  ...  0.777778  0.629630  16.236467
203     204  0.222222  1.000000  ...  0.814815  0.444444  16.225071

[204 rows x 14 columns]

In [ ]:
label = new_norm_df['y(x)'].astype('float64')
label

0       0.817664
1       0.720798
2       0.803419
3       0.729345
4       0.925926
         ...
199    15.982906
200    16.011396
201    16.347578
202    16.236467
203    16.225071
Name: y(x), Length: 204, dtype: float64

<h2>Применяем ExtraTreeClassifier</h2>

In [ ]:
clf = ExtraTreesClassifier()
no_user_df = new_norm_df.drop(['UserId'], axis=1)
array = no_user_df.values
X = array[:,0:13]
Y = array[:,12]
X_scale = sk.preprocessing.scale(X)
y_scale = sk.preprocessing.scale(Y)

array([[ 0.77777778,  1.        ,  0.77777778, ...,  0.92592593,
         0.81481481,  0.81766382],
       [ 0.77777778,  0.55555556,  0.77777778, ...,  0.51851852,
         0.74074074,  0.72079772],
       [ 0.33333333,  0.55555556,  0.77777778, ...,  0.7037037 ,
         0.62962963,  0.8034188 ],
       ...,
       [ 0.88888889,  0.77777778,  1.        , ...,  0.92592593,
         0.92592593, 16.34757835],
       [ 0.66666667,  0.77777778,  0.77777778, ...,  0.77777778,
         0.62962963, 16.23646724],
       [ 0.22222222,  1.        ,  0.44444444, ...,  0.81481481,
         0.44444444, 16.22507123]])

In [ ]:
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_scale)
print(training_scores_encoded)
print(utils.multiclass.type_of_target(y_scale))
print(utils.multiclass.type_of_target(y_scale.astype('int')))
print(utils.multiclass.type_of_target(training_scores_encoded))

[  3   0   2   1   5   6   4   7   8  10   9  12  14  11  13  15  16  18
  17  19  21  23  24  20  22  25  29  27  26  28  30  33  31  32  35  34
  36  37  39  38  40  43  41  44  42  45  46  47  49  48  50  53  51  52
  56  54  55  57  61  58  60  62  59  63  64  65  67  66  68  69  70  71
  74  75  72  73  76  77  78  82  79  80  83  81  84  85  87  86  89  88
  90  91  92  94  95  93  96  97  98  99 101 102 100 104 103 105 107 108
 106 109 113 110 111 112 116 115 114 119 121 118 120 117 122 123 124 125
 126 127 128 129 130 131 132 133 135 136 137 134 139 140 138 141 142 143
 144 145 146 147 148 150 149 151 152 153 157 154 155 156 158 159 160 161
 162 165 163 164 167 166 168 170 172 171 169 174 175 173 176 178 177 180
 179 182 181 183 184 186 187 185 188 189 190 191 192 193 194 196 195 197
 199 198 200 203 202 201]
continuous
multiclass
multiclass

In [ ]:
clf = ExtraTreesClassifier()
fited = clf.fit(X_scale, training_scores_encoded)
print("ExtraTreesClassifier")
print(fited)
print(clf.feature_importances_)

ExtraTreesClassifier
ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)
[0.0753202  0.0755665  0.07049261 0.0779803  0.06320197 0.06206897
 0.07990148 0.07837438 0.0808867  0.07403941 0.08458128 0.08128079
 0.09630542]